# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objective:**
* popular languages of data science
* libraries for data science
* tolls of datascience
* examples of arithmetic equations

Some of the popular languages that Data Scientists use are:
  1. Python 
  2. R language
  3. SQL
  4. Scala
  5. java
  6. julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Matplotlib
4. keras

|Data Science Tools|
|---------|
|jupyter notebook|
|R studio|
|git hub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
m=200
h= 200/60
print(h)

3.3333333333333335

## Author
 Anushka Suresh Suradkar